// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";


/*== 1200px and beyond ===================================================
========================================================================*/

/* Large desktop */
@media (min-width: 1200px) {} 

/*== Up to 1200px =====================================================
========================================================================*/

/* Large desktop */
@media (max-width: 1200px) {

  #contact_map{
    height: 376px;
  }
  .row-fluid{
    margin-left: -@gridGutterWidth;
    [class*="itemSpan"],
    [class*="span"]{
      padding-left: @gridGutterWidth;
    }
  }
  .fluid{
    margin-left: -@gridGutterWidth;
  }

	.camera_wrap .camera_prev{ left:0;}
	.camera_wrap .camera_next{ right:0;}
	
	.news .item_box{ max-width:576px; margin:0 auto 20px;} 
	.news .item_img, .news .item_content{ width:100%;}
	.news .right .item_img{ float:left;}
	
	.contact_form .btn{ min-width:150px;}
	
} 

/*== Up to 980px ======================================================
========================================================================*/

/* Narrow desktop */
@media (max-width: 979px) {
  
  .thumbnails {
    margin-left: -12px;
  }
  .thumbnails > li {
    margin-left: 12px;
  }

  /*footer*/
  #back-top{
    display: none !important;
  }

  .row-fluid{
    margin-left: -@gridGutterWidth768;
    [class*="itemSpan"],
    [class*="span"]{
      padding-left: @gridGutterWidth768;
    }
  }
  .fluid{
    margin-left: -@gridGutterWidth768;
  }

	
	h1, h2, h3{ font-size:30px;
		&:after, &:before{ display:none;}
	}

}

/*== Up to 980px and beyond 768px ======================================
========================================================================*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {



}


/*== Up to 767px ======================================================
========================================================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px){

  body{
    padding: 0;
    .row-container{
      padding: 0 20px;
    }
  }
  
  .about_us .left, .about_us .right{ float:none; width:100%; padding-right:0; padding-left:0; padding-top:180px}
  .about_us .right{ padding-top:0}

	.team .item_box{ margin-bottom:20px;}
	

  // Stick to bottom footer styles
  #wrapper{
    margin: 0;
  }

  #footer-wrapper{
    height: auto;
  }

  #push{
    display: none;
  }

  #logo{
    text-align: center;
    a{
      margin: 0;
    }
  }

  .nav.menu.pull-right.nav-pills{
    float: none;
    text-align: center;
    li{
      float: none;
      display: inline-block;
    }
  }

  .social{
  }


  /*content*/

    [class*="cols"]{
      [class*="span"]{
        width: 100%;
      }
    }

  .item-image.blog-image{
    float: none;
    margin: 0 0 20px 0;
  }

  .row-fluid{
    [class*="itemSpan"],
    [class*="span"]{
      display: block;
      float: none;
      margin-left: 0;
      width: auto;
    }
  }

  /*gallery*/
  .page-gallery{
    ul.gallery{
      .gallery-grid{
        width: 48.5%;
        max-width: 48.5%;
      }
    }
  }

  .page-gallery ul.gallery .gallery-grid .view .item_img{
    max-width: 100%;
    a{
      display: block;
    }
  }

  .img-full__left.span5{
    width: 50%;
  }

  /*contact*/
  .contact_details{
    .contact_details_item{
      width: 30%;
      float: left;
    }
  }

  .page-gallery ul.gallery .gallery-grid .view{
    margin: 0 auto;
    .item_img{
      float: none;
      margin: 0 !important;
    }
  }

  /*Modules*/

  /*search*/
  .mod-search__aside{
    .mod-search_searchword{
      width: 50%;
    }
  }

  /*login*/
  .mod-login__aside{
    .mod-login_username,
    .mod-login_passwd{
      width: 50%;
    }
  }

  #back-top{
    display:none !important;
  }

}

/*== Up to 640px ==================================================
====================================================================*/

@media (max-width: 640px) {

  /*contact*/

  .contact_details{
    margin-bottom: @baseLineHeight;
    .contact_details_item{
      width: 100%;
      float: none;
    }
  }

  .layout-mode{
    float: none;
  }

}

/*== Up to 480px ==================================================
====================================================================*/

/* Landscape phones and down */
@media (max-width: 479px) {

	
	.camera_wrap{ margin-bottom:100px !important}
	.camera_wrap .camera_prev{ bottom:-100px; left:50%; margin-left:-60px; top:auto;}
	.camera_wrap .camera_next{ bottom:-100px; left:50%; margin-left:12px; top:auto;}

	.schedule td{ font-size:10px;}
	.schedule th{ font-size:14px; line-height:18px;}

  /*contact*/

  .contact_form{
    width: 100%;
  }

  /*registration*/

  .page-registration,
  .page-remind,
  .page-reset,
  .page-login,
  .page-login,
  .page-profile__edit{
    form{
      input,
      select{
        width: 100%;
      }
      label{
        display: inline-block;
      }
    }
  }

  /* pagination */

  .pagination{
    ul{
      li{
        display: none;
        &.pagination-prev,
        &.pagination-next{
          display: inline-block;
        }
      }
    }
  }

  /*gallery*/

  .page-gallery{
    .item_img.img-intro{
      float: none;
      margin: 0 0 @baseLineHeight 0;
    }
    ul.gallery{
      .gallery-item{
        text-align: center;
        max-width: 100%;
        width: 100%;
        .item_img{
          float: none;
          margin: 0 auto @baseLineHeight !important;
          max-width: 100%;
          img{
            width: 100%;
          }
        }
        a.zoom{
          display: block;
        }
      }
    }
  }

  .img-full__left.span5{
    width: 100%;
    margin-right:0;
  }

  /*blog*/

  .item_img{
    float: none;
     margin: 0 0 @baseLineHeight 0;
     max-width: 100%;
  }

  /*archive*/

  .page-archive_filters{
    select{
      display: block;
      width: 100%;
    }
  }

  /*contact*/

  .contact_details{
    .contact_details_item{
      width: 100%;
      float: none;
    }
  }

  /*Modules*/

  /*search*/

  .mod-search__aside{
    .mod-search_searchword{
      width: 100%;
    }
  }

  /*login*/

  .mod-login__aside{
    .mod-login_userdata{
      width: 100%;
      overflow: hidden;
    }
    .mod-login_username,
    .mod-login_passwd{
      width: 100%;
    }
  }

  div.modal{
    position:absolute;
  }
  
  #error{
    input{
      width: 200px;
    }
  }
}

/*== Up to 340px =====================================================
========================================================================*/

/* Portrait phones */
@media (max-width: 340px) {


  
}
